<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894696116565-3dbtdj800ee42tmrn9fj9ov9v3sirsi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894696116565-3dbtdj800ee42tmrn9fj9ov9v3sirsi1</string>
	<key>API_KEY</key>
	<string>AIzaSyApjZGWw2XDA0rEiOmg1C6jkhMel8B0K0k</string>
	<key>GCM_SENDER_ID</key>
	<string>894696116565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ehelpdesk</string>
	<key>PROJECT_ID</key>
	<string>ehelpdesk-ueu</string>
	<key>STORAGE_BUCKET</key>
	<string>ehelpdesk-ueu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894696116565:ios:f2087620e7604cf06f5fdc</string>
</dict>
</plist>